/BackcountrySportVisualizer.v12.suo
/BackcountrySportVisualizer/bin/Debug/BackcountrySportVisualizer.exe
/BackcountrySportVisualizer/bin/Debug/BackcountrySportVisualizer.exe.config
/BackcountrySportVisualizer/bin/Debug/BackcountrySportVisualizer.pdb
/BackcountrySportVisualizer/bin/Debug/BackcountrySportVisualizer.vshost.exe
/BackcountrySportVisualizer/bin/Debug/BackcountrySportVisualizer.vshost.exe.config
/BackcountrySportVisualizer/bin/Debug/BackcountrySportVisualizer.vshost.exe.manifest
/BackcountrySportVisualizer/bin/Debug/Microsoft.Maps.MapControl.WPF.dll
/BackcountrySportVisualizer/bin/Debug/Microsoft.Maps.MapControl.WPF.xml
/BackcountrySportVisualizer/obj/Debug/App.g.cs
/BackcountrySportVisualizer/obj/Debug/App.g.i.cs
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.Properties.Resources.resources
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.csproj.FileListAbsolute.txt
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.csproj.GenerateResource.Cache
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.csprojResolveAssemblyReference.cache
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.exe
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.g.resources
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer.pdb
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer_MarkupCompile.cache
/BackcountrySportVisualizer/obj/Debug/BackcountrySportVisualizer_MarkupCompile.i.cache
/BackcountrySportVisualizer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BackcountrySportVisualizer/obj/Debug/MainWindow.baml
/BackcountrySportVisualizer/obj/Debug/MainWindow.g.cs
/BackcountrySportVisualizer/obj/Debug/MainWindow.g.i.cs
/BackcountrySportVisualizer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BackcountrySportVisualizer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BackcountrySportVisualizer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
